<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>DELIVERY</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <!-- Favicon -->
    <link href="/img/favicon.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Rubik&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="/lib/flaticon/font/flaticon.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">


</head>
<body>
<div th:insert="~{fragments/deliveryHeaderFrame :: header}"></div>

<div id="map" style="width: 100%; height: 800px;"></div>
<script th:inline="javascript">
    const markersData = /*[[ ${markersData} ]]*/ [];
</script>

<script th:inline="javascript">
    function initMap() {
        const map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: markersData[0].latitude, lng: markersData[0].longitude},
            zoom: 13
        });

        const markers = [];
        markersData.forEach(function(markerInfo) {
            const marker = new google.maps.Marker({
                position: {lat: markerInfo.latitude, lng: markerInfo.longitude},
                map: map,
                title: markerInfo.title
            });

            markers.push(marker);
        });

        // Calculate and display directions
        if (markers.length >= 2) {
            const directionsService = new google.maps.DirectionsService();
            const directionsRenderer = new google.maps.DirectionsRenderer({map: map});

            const origin = markers[0].getPosition();
            const destination = markers[markers.length - 1].getPosition();

            const waypoints = markers.slice(1, -1).map(marker => ({location: marker.getPosition()}));

            directionsService.route(
                {
                    origin: origin,
                    destination: destination,
                    waypoints: waypoints,
                    travelMode: google.maps.TravelMode.DRIVING
                },
                function(response, status) {
                    if (status === 'OK') {
                        directionsRenderer.setDirections(response);
                    } else {
                        window.alert('Directions request failed due to ' + status);
                    }
                }
            );
        }
    }
</script>
<script async defer th:src="'https://maps.googleapis.com/maps/api/js?key=' + ${googleMapsApiKey} + '&callback=initMap'"></script>
</body>
</html>
