<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>



<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Manufacturer</th>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.getId()}"></td>
        <td th:text="${product.getName()}"></td>
        <td th:text="${product.getPrice()}"></td>
        <td th:text="${product.getQuantity()}"></td>
        <td th:text="${product.getManufacturer().getName()}"></td>
        <td>
            <span th:if="${role.name().equalsIgnoreCase('role_user')}">
                <form method="post" th:action="@{/products/addProduct}">
                    <input type="hidden" name="productId" th:value="${product.getId()}">
                    <button type="submit">Add to cart</button>
                </form>
            </span>
        </td>
    </tr>
</table>

</body>
</html>