<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="uk">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>

<style>

</style>

<body onload="getLocation()">
<div class="container">
    <h2>User Registration</h2>
    <form th:action="@{/auth/register}" method="post" th:object="${user}">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" th:field="*{firstName}" required><br>

        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" th:field="*{lastName}" required><br>

        <label for="email">Email:</label>
        <input type="email" id="email" th:field="*{email}" required><br>

        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" required><br>

        <label for="birth">Birthday:</label>
        <input type="date" id="birth" name="birth" required><br>

        <div class="checkbox-container">
            <label for="locationCheckbox">Geolocation permission:</label>
            <input type="checkbox" id="locationCheckbox" th:checked="true" onclick="blurButton()">
        </div>

        <input type="hidden" id="latitude" name="latitude">
        <input type="hidden" id="longitude" name="longitude">

        <div class="buttonLabel">
            <label for="submitButton" hidden="hidden" id="submitButtonLabel">Please check geolocation permission first</label>
        </div>
        <button type="submit" id="submitButton">Register</button>


    </form>

    <script>
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(({coords}) => {
                    document.getElementById("latitude").value = coords.latitude;
                    document.getElementById("longitude").value = coords.longitude;
                });
            } else {
                alert("Геолокація не підтримується вашим браузером.");
            }
        }
    </script>


    <script>
        function blurButton(){
            const checkBox = document.getElementById("locationCheckbox");
            const button = document.getElementById("submitButton");
            const label = document.getElementById("submitButtonLabel");
            if(!checkBox.checked) {
                button.hidden = true;
                label.hidden = false;
            } else {
                button.hidden = false;
                label.hidden = true;
            }
        }
    </script>

</div>
</body>
</html>
