/* Reset some default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style for the header */
.myapp-header-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 6px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
}

.myapp-header-brand img {
    max-width: 65px;
    height: auto;
}

.myapp-header-nav {
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.myapp-header-nav-item {
    margin-right: 150px;
}

.myapp-header-nav-link {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    transition: color 0.3s ease;
}

.myapp-header-nav-link:hover {
    color: #ff6600;
}
