<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/header.css}" />
</head>
<body>
<header th:fragment="header">
    <nav class="myapp-header-navbar myapp-header-navbar-light myapp-header-bg-light">
        <a class="myapp-header-brand" th:href="@{/}">
            <img th:src="@{/images/logo.png}" width="65" height="65" class="d-inline-block align-top" alt="">
        </a>
        <div class="myapp-header-collapse" id="navbarNav">
            <ul class="myapp-header-nav myapp-header-nav-right">
                <li class="myapp-header-nav-item">
                    <a class="myapp-header-nav-link" th:href="@{/shops}">Shops</a>
                </li>
                <li class="myapp-header-nav-item">
                    <a class="myapp-header-nav-link" th:href="@{/user}">Profile</a>
                </li>
            </ul>
            <hr>
        </div>
    </nav>
</header>
</body>
</html>