<!DOCTYPE html>
<html>
<head>
  <title>Реєстрація</title>
</head>
<body>
<h1>Реєстрація</h1>
<form action="/auth/geo" method="post">

  <input type="hidden" id="latitude" name="latitude">
  <input type="hidden" id="longitude" name="longitude">
  <button type="button" onclick="getLocation()">Отримати геолокацію</button>

    <input type="submit" value="Відправити координати">
</form>

<script>
  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(({coords}) => {
        document.getElementById("latitude").value = coords.latitude;
        document.getElementById("longitude").value = coords.longitude;
      });
    } else {
      alert("Геолокація не підтримується вашим браузером.");
    }
  }
</script>
</body>
</html>
